.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #f5f5f5;
  color: #2d2d2d;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}
.desc{
  border: 1px solid #2d2d2d;
  border-radius: 5%;
}
.namePok{
  color: #2d2d2d;
  text-transform: capitalize;
}
.listPoke{
  border: 1px solid #2d2d2d;
}