.App {
  text-align: center;
}
body{
  background: #32a891;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #f5f5f5;
  color: #2d2d2d;
}
.nav-links{
  width: 70%;
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  text-decoration: none;
  color: #2d2d2d;
  bottom: -6px;
  position: relative;
}
html, body{
  font-family : sans-serif;
  background: #e2e1e0;
    text-align : center;
    color: #2d2d2d;
}
.pokeapp{
    padding : 16px;
}
.pokemon--species--list{
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -ms-flex-wrap : wrap;
        flex-wrap : wrap;
    padding : 16px 0;
}
.pokemon--species{
    -ms-flex-preferred-size : 25%;
        flex-basis : 25%;
    padding : 8px;
    box-sizing: border-box;

}
.pokemon--species--container{
    padding : 8px;
    background : white;
    cursor : pointer;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.pokemon--species--pokename{
    text-transform: capitalize;
}
.pokemon--species--pokename span{
    font-weight: 600;
}
.pokemon--species--name{
    text-transform: capitalize;
    padding-top: 10px;
}
.pokemon--species--name p{
    display: inline-block;
    padding-right: 10px;
}
.backname{
    float: left;
    text-decoration: none;
    color: #2d2d2d;
}